USE [PharmacyManagementDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Ward] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[TotalSpending] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[UserAccountId] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryHistories]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineId] [int] NOT NULL,
	[TransactionType] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[StockBefore] [int] NOT NULL,
	[StockAfter] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InventoryHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineGroups]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MedicineGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicinePromotions]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicinePromotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
 CONSTRAINT [PK_MedicinePromotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[MedicineGroupId] [int] NOT NULL,
	[Usage] [nvarchar](max) NULL,
	[Dosage] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
	[Unit] [nvarchar](max) NULL,
	[Barcode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[RecipientType] [nvarchar](max) NULL,
	[EmployeeId] [int] NULL,
	[CustomerId] [int] NULL,
	[NotificationType] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](max) NULL,
	[CustomerId] [int] NULL,
	[EmployeeId] [int] NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[OrderStatus] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[OrderCode] [nvarchar](max) NULL,
	[Provider] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[Status] [nvarchar](50) NULL,
	[TxnRef] [nvarchar](max) NULL,
	[TransactionNo] [nvarchar](max) NULL,
	[ResponseCode] [nvarchar](max) NULL,
	[BankCode] [nvarchar](max) NULL,
	[PayDate] [nvarchar](max) NULL,
	[RawData] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[PromotionType] [nvarchar](max) NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[IsPercentage] [bit] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[MinOrderAmount] [int] NOT NULL,
	[TargetCustomer] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PurchaseOrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderCode] [nvarchar](max) NULL,
	[SupplierId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[DeliveryDate] [datetime2](7) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[TaxNumber] [nvarchar](max) NULL,
	[Debt] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PasswordAccount] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[Address] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkHistories]    Script Date: 1/3/2026 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[WorkDate] [datetime2](7) NOT NULL,
	[Shift] [nvarchar](max) NULL,
	[OrdersProcessed] [int] NOT NULL,
	[Revenue] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WorkHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260101125256_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260103095232_AddUserProfileFields', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260103102107_AddAvatarUrlToEmployees', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [PhoneNumber], [Email], [Address], [City], [District], [Ward], [DateOfBirth], [Gender], [TotalSpending], [CreatedDate], [LastModifiedDate], [IsActive]) VALUES (1, N'Nguyễn Văn Bình', N'0987654321', N'binh@gmail.com', N'HCM', N'HCM', N'Q1', N'Ben Nghe', CAST(N'1990-01-01T00:00:00.0000000' AS DateTime2), N'Nam', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), 1)
INSERT [dbo].[Customers] ([Id], [Name], [PhoneNumber], [Email], [Address], [City], [District], [Ward], [DateOfBirth], [Gender], [TotalSpending], [CreatedDate], [LastModifiedDate], [IsActive]) VALUES (2, N'Trần Thị Hoa', N'0978123456', N'hoa@gmail.com', N'HN', N'HN', N'HK', N'Hang Bai', CAST(N'1995-05-05T00:00:00.0000000' AS DateTime2), N'Nu', CAST(350000.00 AS Decimal(18, 2)), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), 1)
INSERT [dbo].[Customers] ([Id], [Name], [PhoneNumber], [Email], [Address], [City], [District], [Ward], [DateOfBirth], [Gender], [TotalSpending], [CreatedDate], [LastModifiedDate], [IsActive]) VALUES (3, N'Lê Van Cu?ng', N'0901234567', N'cuong@gmail.com', N'123 Lê L?i', N'HCM', N'Q1', N'Ben Nghe', CAST(N'1988-03-15T00:00:00.0000000' AS DateTime2), N'Nam', CAST(1200000.00 AS Decimal(18, 2)), CAST(N'2026-01-03T17:26:20.3366667' AS DateTime2), CAST(N'2026-01-03T17:26:20.3366667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FullName], [Email], [PhoneNumber], [Position], [Department], [StartDate], [Salary], [Status], [UserAccountId], [CreatedDate], [LastModifiedDate], [AvatarUrl]) VALUES (1, N'Nhân Viên Bán Hàng', N'nhanvien@example.com', N'0123456789', N'Nhân Viên', N'Bán hàng', CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(10000000.00 AS Decimal(18, 2)), N'Active', 2, CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryHistories] ON 

INSERT [dbo].[InventoryHistories] ([Id], [MedicineId], [TransactionType], [Quantity], [StockBefore], [StockAfter], [Reason], [Notes], [CreatedDate]) VALUES (1, 1, N'Import', 100, 0, 100, N'Purchase', N'Nhập hàng theo PO-001', CAST(N'2026-01-03T18:19:19.3500000' AS DateTime2))
INSERT [dbo].[InventoryHistories] ([Id], [MedicineId], [TransactionType], [Quantity], [StockBefore], [StockAfter], [Reason], [Notes], [CreatedDate]) VALUES (2, 1, N'Sale', -2, 100, 98, N'Sale', N'Bán lẻ', CAST(N'2026-01-03T18:19:19.3500000' AS DateTime2))
INSERT [dbo].[InventoryHistories] ([Id], [MedicineId], [TransactionType], [Quantity], [StockBefore], [StockAfter], [Reason], [Notes], [CreatedDate]) VALUES (3, 1, N'Adjustment', -1, 98, 97, N'Damaged', N'Thuốc bị hỏng bao bì', CAST(N'2026-01-03T18:19:19.3500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InventoryHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineGroups] ON 

INSERT [dbo].[MedicineGroups] ([Id], [Name], [Description], [IsActive]) VALUES (1, N'Kháng sinh', N'Nhóm thuốc kháng sinh', 1)
INSERT [dbo].[MedicineGroups] ([Id], [Name], [Description], [IsActive]) VALUES (2, N'Giảm đau', N'Nhóm thuốc giảm đau', 1)
INSERT [dbo].[MedicineGroups] ([Id], [Name], [Description], [IsActive]) VALUES (3, N'Hạ sốt', N'Nhóm thuốc hạ sốt', 1)
SET IDENTITY_INSERT [dbo].[MedicineGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicinePromotions] ON 

INSERT [dbo].[MedicinePromotions] ([Id], [MedicineId], [PromotionId]) VALUES (1, 3, 2)
INSERT [dbo].[MedicinePromotions] ([Id], [MedicineId], [PromotionId]) VALUES (2, 4, 1)
INSERT [dbo].[MedicinePromotions] ([Id], [MedicineId], [PromotionId]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[MedicinePromotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([Id], [Name], [Description], [MedicineGroupId], [Usage], [Dosage], [Manufacturer], [Price], [ExpiryDate], [CurrentStock], [MinStockLevel], [Unit], [Barcode], [CreatedDate], [LastModifiedDate], [IsActive]) VALUES (1, N'Paracetamol 500mg', N'Thuốc hạ sốt', 3, N'Uống sau ăn', N'1 viên/lần', N'DHG Pharma', CAST(1500.00 AS Decimal(18, 2)), CAST(N'2028-01-03T17:21:07.6081300' AS DateTime2), 200, 20, N'Viên', N'8935206000012', CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), 1)
INSERT [dbo].[Medicines] ([Id], [Name], [Description], [MedicineGroupId], [Usage], [Dosage], [Manufacturer], [Price], [ExpiryDate], [CurrentStock], [MinStockLevel], [Unit], [Barcode], [CreatedDate], [LastModifiedDate], [IsActive]) VALUES (2, N'Amoxicillin 500mg', N'Kháng sinh', 1, N'Uống trước ăn', N'1 viên/lần', N'Stada', CAST(2500.00 AS Decimal(18, 2)), CAST(N'2028-01-03T17:21:07.6081300' AS DateTime2), 150, 15, N'Viên', N'8935206000029', CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), 1)
INSERT [dbo].[Medicines] ([Id], [Name], [Description], [MedicineGroupId], [Usage], [Dosage], [Manufacturer], [Price], [ExpiryDate], [CurrentStock], [MinStockLevel], [Unit], [Barcode], [CreatedDate], [LastModifiedDate], [IsActive]) VALUES (3, N'Vitamin C 500mg', N'Tăng đề kháng', 4, N'Uống sau ăn', N'1 viên/ngày', N'Traphaco', CAST(1200.00 AS Decimal(18, 2)), CAST(N'2028-01-03T17:21:07.6081300' AS DateTime2), 300, 30, N'Viên', N'8935206000036', CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Title], [Message], [RecipientType], [EmployeeId], [CustomerId], [NotificationType], [IsRead], [CreatedDate]) VALUES (1, N'Thuốc sắp hết hạn', N'Có 5 loại thuốc sắp hết hạn trong tháng này. Vui lòng kiểm tra!', N'Employee', 1, NULL, N'Stock', 0, CAST(N'2026-01-01T20:12:14.3500000' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [RecipientType], [EmployeeId], [CustomerId], [NotificationType], [IsRead], [CreatedDate]) VALUES (2, N'Đơn hàng mới', N'Có 3 đơn hàng mới cần xử lý hôm nay', N'Employee', 1, NULL, N'System', 1, CAST(N'2026-01-02T20:12:14.3500000' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [RecipientType], [EmployeeId], [CustomerId], [NotificationType], [IsRead], [CreatedDate]) VALUES (3, N'Tồn kho thấp', N'Paracetamol và Amoxicillin sắp hết. Cần nhập thêm hàng!', N'Employee', 1, NULL, N'Stock', 0, CAST(N'2026-01-03T20:12:14.3500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [MedicineId], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, 1, 1, 10, CAST(1500.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [MedicineId], [Quantity], [UnitPrice], [TotalPrice]) VALUES (2, 2, 2, 5, CAST(2500.00 AS Decimal(18, 2)), CAST(12500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderCode], [CustomerId], [EmployeeId], [OrderDate], [SubTotal], [Discount], [Tax], [Total], [PaymentMethod], [OrderStatus], [Notes], [CreatedDate]) VALUES (1, N'HD001', 1, 1, CAST(N'2026-01-02T17:21:07.6081300' AS DateTime2), CAST(150000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), N'Cash', N'Completed', N'Khách quen', CAST(N'2026-01-02T17:21:07.6081300' AS DateTime2))
INSERT [dbo].[Orders] ([Id], [OrderCode], [CustomerId], [EmployeeId], [OrderDate], [SubTotal], [Discount], [Tax], [Total], [PaymentMethod], [OrderStatus], [Notes], [CreatedDate]) VALUES (2, N'HD002', 2, 1, CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(200000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(180000.00 AS Decimal(18, 2)), N'Card', N'Completed', N'', CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2))
INSERT [dbo].[Orders] ([Id], [OrderCode], [CustomerId], [EmployeeId], [OrderDate], [SubTotal], [Discount], [Tax], [Total], [PaymentMethod], [OrderStatus], [Notes], [CreatedDate]) VALUES (3, N'HD003', 3, 1, CAST(N'2025-12-05T17:26:28.0833333' AS DateTime2), CAST(75000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(75000.00 AS Decimal(18, 2)), N'Cash', N'Completed', N'', CAST(N'2025-12-05T17:26:28.0833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransactions] ON 

INSERT [dbo].[PaymentTransactions] ([Id], [OrderId], [OrderCode], [Provider], [PaymentMethod], [Amount], [Currency], [Status], [TxnRef], [TransactionNo], [ResponseCode], [BankCode], [PayDate], [RawData], [CreatedAt], [UpdatedAt]) VALUES (1, 2, N'HD002', N'VNPay', N'Bank', CAST(180000.00 AS Decimal(18, 2)), N'VND', N'Success', N'HD002', N'VNP14045678901', N'00', N'NCB', N'20260103201214', N'{"vnp_Amount":"18000000","vnp_ResponseCode":"00","vnp_BankCode":"NCB"}', CAST(N'2026-01-03T20:12:14.5666667' AS DateTime2), NULL)
INSERT [dbo].[PaymentTransactions] ([Id], [OrderId], [OrderCode], [Provider], [PaymentMethod], [Amount], [Currency], [Status], [TxnRef], [TransactionNo], [ResponseCode], [BankCode], [PayDate], [RawData], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'HD001', N'Cash', N'Cash', CAST(150000.00 AS Decimal(18, 2)), N'VND', N'Success', N'HD001', N'CASH001', N'00', NULL, N'20260102201214', N'{"method":"cash"}', CAST(N'2026-01-02T20:12:14.5666667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PaymentTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [Name], [Description], [PromotionType], [DiscountValue], [IsPercentage], [StartDate], [EndDate], [MinOrderAmount], [TargetCustomer], [IsActive], [CreatedDate], [LastModifiedDate]) VALUES (1, N'Giảm giá mùa hè', N'Giảm 10% cho đơn hàng trên 500k', N'Discount', CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2025-12-04T20:12:14.3300000' AS DateTime2), CAST(N'2026-02-02T20:12:14.3300000' AS DateTime2), 500000, N'All', 1, CAST(N'2025-12-04T20:12:14.3300000' AS DateTime2), CAST(N'2026-01-03T20:12:14.3300000' AS DateTime2))
INSERT [dbo].[Promotions] ([Id], [Name], [Description], [PromotionType], [DiscountValue], [IsPercentage], [StartDate], [EndDate], [MinOrderAmount], [TargetCustomer], [IsActive], [CreatedDate], [LastModifiedDate]) VALUES (2, N'Khuyến mãi thuốc vitamin', N'Giảm 50k cho vitamin', N'Discount', CAST(50000.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-19T20:12:14.3300000' AS DateTime2), CAST(N'2026-01-18T20:12:14.3300000' AS DateTime2), 0, N'All', 1, CAST(N'2025-12-19T20:12:14.3300000' AS DateTime2), CAST(N'2026-01-03T20:12:14.3300000' AS DateTime2))
INSERT [dbo].[Promotions] ([Id], [Name], [Description], [PromotionType], [DiscountValue], [IsPercentage], [StartDate], [EndDate], [MinOrderAmount], [TargetCustomer], [IsActive], [CreatedDate], [LastModifiedDate]) VALUES (3, N'Tặng quà Tết', N'Mua 3 tặng 1 cho thuốc kháng sinh', N'Gift', CAST(0.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-27T20:12:14.3300000' AS DateTime2), CAST(N'2026-01-23T20:12:14.3300000' AS DateTime2), 200000, N'VIP', 1, CAST(N'2025-12-27T20:12:14.3300000' AS DateTime2), CAST(N'2026-01-03T20:12:14.3300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] ON 

INSERT [dbo].[PurchaseOrderDetails] ([Id], [PurchaseOrderId], [MedicineId], [Quantity], [UnitCost], [TotalCost]) VALUES (1, 1, 1, 500, CAST(1000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([Id], [PurchaseOrderId], [MedicineId], [Quantity], [UnitCost], [TotalCost]) VALUES (2, 1, 2, 300, CAST(2000.00 AS Decimal(18, 2)), CAST(600000.00 AS Decimal(18, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([Id], [PurchaseOrderId], [MedicineId], [Quantity], [UnitCost], [TotalCost]) VALUES (3, 1, 3, 1000, CAST(800.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

INSERT [dbo].[PurchaseOrders] ([Id], [PurchaseOrderCode], [SupplierId], [OrderDate], [DeliveryDate], [TotalCost], [Status], [Notes], [CreatedDate]) VALUES (1, N'PO001', 1, CAST(N'2025-12-24T20:12:14.3400000' AS DateTime2), CAST(N'2025-12-26T20:12:14.3400000' AS DateTime2), CAST(15000000.00 AS Decimal(18, 2)), N'Received', N'Đơn nhập hàng đầu tháng', CAST(N'2025-12-24T20:12:14.3400000' AS DateTime2))
INSERT [dbo].[PurchaseOrders] ([Id], [PurchaseOrderCode], [SupplierId], [OrderDate], [DeliveryDate], [TotalCost], [Status], [Notes], [CreatedDate]) VALUES (2, N'PO002', 2, CAST(N'2025-12-29T20:12:14.3400000' AS DateTime2), CAST(N'2025-12-31T20:12:14.3400000' AS DateTime2), CAST(8500000.00 AS Decimal(18, 2)), N'Received', N'Nhập hàng thường kỳ', CAST(N'2025-12-29T20:12:14.3400000' AS DateTime2))
INSERT [dbo].[PurchaseOrders] ([Id], [PurchaseOrderCode], [SupplierId], [OrderDate], [DeliveryDate], [TotalCost], [Status], [Notes], [CreatedDate]) VALUES (3, N'PO003', 3, CAST(N'2026-01-02T20:12:14.3400000' AS DateTime2), CAST(N'2026-01-05T20:12:14.3400000' AS DateTime2), CAST(5000000.00 AS Decimal(18, 2)), N'Pending', N'Đơn hàng đang chờ giao', CAST(N'2026-01-02T20:12:14.3400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [ContactPerson], [PhoneNumber], [Email], [Address], [City], [TaxNumber], [Debt], [IsActive], [CreatedDate], [LastModifiedDate]) VALUES (1, N'Dược Phẩm Hậu Giang', N'Nguyễn Văn A', N'0901234567', N'contact@dhgpharma.vn', N'288 Bis Nguyễn Văn Cừ', N'Cần Thơ', N'1800156801', CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-03T18:19:19.3000000' AS DateTime2), CAST(N'2026-01-03T18:19:19.3000000' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [Name], [ContactPerson], [PhoneNumber], [Email], [Address], [City], [TaxNumber], [Debt], [IsActive], [CreatedDate], [LastModifiedDate]) VALUES (2, N'Traphaco', N'Trần Thị B', N'0909888777', N'info@traphaco.vn', N'75 Yên Ninh', N'Hà Nội', N'0100108656', CAST(5000000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-03T18:19:19.3000000' AS DateTime2), CAST(N'2026-01-03T18:19:19.3000000' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [Name], [ContactPerson], [PhoneNumber], [Email], [Address], [City], [TaxNumber], [Debt], [IsActive], [CreatedDate], [LastModifiedDate]) VALUES (3, N'Sanofi Việt Nam', N'Lê Văn C', N'02838298526', N'support@sanofi.vn', N'Q1, TP.HCM', N'Hồ Chí Minh', N'0300896547', CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-03T18:19:19.3000000' AS DateTime2), CAST(N'2026-01-03T18:19:19.3000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([Id], [Username], [Email], [PasswordAccount], [Role], [IsActive], [CreatedDate], [LastLoginDate], [Address], [AvatarUrl], [FullName], [PhoneNumber]) VALUES (1, N'Admin123', N'admin@example.com', N'123', N'Admin', 1, CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), CAST(N'2026-01-03T16:54:52.2356118' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[UserAccounts] ([Id], [Username], [Email], [PasswordAccount], [Role], [IsActive], [CreatedDate], [LastLoginDate], [Address], [AvatarUrl], [FullName], [PhoneNumber]) VALUES (2, N'NhanVien123', N'nhanvien@example.com', N'123', N'Employee', 1, CAST(N'2026-01-03T17:21:07.6081300' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkHistories] ON 

INSERT [dbo].[WorkHistories] ([Id], [EmployeeId], [WorkDate], [Shift], [OrdersProcessed], [Revenue], [Notes], [CreatedDate]) VALUES (1, 1, CAST(N'2026-01-02T00:00:00.0000000' AS DateTime2), N'Sáng', 15, CAST(2500000.00 AS Decimal(18, 2)), N'Ca làm việc bình thường', CAST(N'2026-01-03T18:19:19.3433333' AS DateTime2))
INSERT [dbo].[WorkHistories] ([Id], [EmployeeId], [WorkDate], [Shift], [OrdersProcessed], [Revenue], [Notes], [CreatedDate]) VALUES (2, 1, CAST(N'2026-01-03T00:00:00.0000000' AS DateTime2), N'Chiều', 20, CAST(3200000.00 AS Decimal(18, 2)), N'Khách đông vào giờ tan tầm', CAST(N'2026-01-03T18:19:19.3433333' AS DateTime2))
INSERT [dbo].[WorkHistories] ([Id], [EmployeeId], [WorkDate], [Shift], [OrdersProcessed], [Revenue], [Notes], [CreatedDate]) VALUES (3, 1, CAST(N'2026-01-04T00:00:00.0000000' AS DateTime2), N'Sáng', 10, CAST(1500000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-01-03T18:19:19.3433333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WorkHistories] OFF
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_UserAccounts_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccounts] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_UserAccounts_UserAccountId]
GO
ALTER TABLE [dbo].[InventoryHistories]  WITH CHECK ADD  CONSTRAINT [FK_InventoryHistories_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryHistories] CHECK CONSTRAINT [FK_InventoryHistories_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[MedicinePromotions]  WITH CHECK ADD  CONSTRAINT [FK_MedicinePromotions_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicinePromotions] CHECK CONSTRAINT [FK_MedicinePromotions_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[MedicinePromotions]  WITH CHECK ADD  CONSTRAINT [FK_MedicinePromotions_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicinePromotions] CHECK CONSTRAINT [FK_MedicinePromotions_Promotions_PromotionId]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_MedicineGroups_MedicineGroupId] FOREIGN KEY([MedicineGroupId])
REFERENCES [dbo].[MedicineGroups] ([Id])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_MedicineGroups_MedicineGroupId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrders_PurchaseOrderId] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrders_PurchaseOrderId]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[WorkHistories]  WITH CHECK ADD  CONSTRAINT [FK_WorkHistories_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHistories] CHECK CONSTRAINT [FK_WorkHistories_Employees_EmployeeId]
GO
